<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.personal.dao.MailAuthMapper">
	<select id="selectFirstMailTemplet" resultType="mailTemplet">
		select * from mail_templet limit 1
	</select>

	<select id="selectFirstMailConfig" resultType="mailConfig">
		select * from mail_config limit 1
	</select>
</mapper>