/******************************
.nav-el.active anim
******************************/

@keyframes fx-active {
	0% {
		transform: translate3d(0%, 0%, 0) scale(1);
	}
	25% {
		transform: translate3d(-55.1%, -55.1%, -150px) scale(0.9) rotate(24deg) rotateY(90deg) rotateX(90deg);
	}
	35% {
		transform: translate3d(-55.1%, -55.1%, -150px) scale(0.9) rotate(63deg) rotateY(180deg) rotateX(180deg);
	}
	45% {
		transform: translate3d(-55.1%, -55.1%, -150px) scale(0.9) rotate(81deg) rotateY(90deg) rotateX(90deg);
	}
	50% {
		color: transparent;
		transform: rotate(90deg) rotateY(0deg) rotateX(0deg);
	}
	100% {
		transform: translate3d(55.1%, 55.1%, -150px) scale(7) rotate(180deg);
	}
}

@-moz-keyframes fx-active {
	0% {
		-moz-transform: translate3d(0%, 0%, 0) scale(1);
	}
	25% {
		-moz-transform: translate3d(-55.1%, -55.1%, -150px) scale(0.9) rotate(24deg) rotateY(90deg) rotateX(90deg);
	}
	35% {
		-moz-transform: translate3d(-55.1%, -55.1%, -150px) scale(0.9) rotate(63deg) rotateY(180deg) rotateX(180deg);
	}
	45% {
		-moz-transform: translate3d(-55.1%, -55.1%, -150px) scale(0.9) rotate(81deg) rotateY(90deg) rotateX(90deg);
	}
	50% {
		color: transparent;
		-moz-transform: rotate(90deg) rotateY(0deg) rotateX(0deg);
	}
	100% {
		-moz-transform: translate3d(55.1%, 55.1%, -150px) scale(7) rotate(180deg);
	}
}

@-webkit-keyframes fx-active {
	0% {
		-webkit-transform: translate3d(0%, 0%, 0) scale(1);
	}
	25% {
		-webkit-transform: translate3d(-55.1%, -55.1%, -150px) scale(0.9) rotate(24deg) rotateY(90deg) rotateX(90deg);
	}
	35% {
		-webkit-transform: translate3d(-55.1%, -55.1%, -150px) scale(0.9) rotate(63deg) rotateY(180deg) rotateX(180deg);
	}
	45% {
		-webkit-transform: translate3d(-55.1%, -55.1%, -150px) scale(0.9) rotate(81deg) rotateY(90deg) rotateX(90deg);
	}
	50% {
		color: transparent;
		-webkit-transform: rotate(90deg) rotateY(0deg) rotateX(0deg);
	}
	100% {
		-webkit-transform: translate3d(55.1%, 55.1%, -150px) scale(7) rotate(180deg);
	}
}

.main_rotate {
	animation: fx-active 2s 1 ease-in-out forwards;
	-moz-animation: fx-active 2s 1 ease-in-out forwards;
	-webkit-animation: fx-active 2s 1 ease-in-out forwards;
}

@keyframes alert-success {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes alert-success {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes alert-success {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.45;
	}
	100% {
		opacity: 0;
	}
}

.main_rotate * {
	animation: alert-success 2s 1 ease-in-out forwards;
	-webkit-animation: alert-success 2s 1 ease-in-out forwards;
	-moz-animation: alert-success 2s 1 ease-in-out forwards;
}